## Testing project xcresulttool-example with scheme xcresulttool-example

<table>
<tr>
  <td></td>
  <td align="right"><b>2</b></td>
</tr>
<tr>
  <td><img src="https://xcresulttool-static.netlify.app/i/passed.png" alt="Success" title="Success" width="14px" align="top">&nbsp;Passed</td>
  <td align="right"><b>0</b></td>
</tr>
<tr>
  <td><img src="https://xcresulttool-static.netlify.app/i/failure.png" alt="Failure" title="Failure" width="14px" align="top">&nbsp;Failed</td>
  <td align="right"><b>2</b></td>
</tr>
<tr>
  <td><img src="https://xcresulttool-static.netlify.app/i/skipped.png" alt="Skipped" title="Skipped" width="14px" align="top">&nbsp;Skipped</td>
  <td align="right"><b>0</b></td>
</tr>
<tr>
  <td><img src="https://xcresulttool-static.netlify.app/i/expected-failure.png" alt="Expected Failure" title="Expected Failure" width="14px" align="top">&nbsp;Expected Failure</td>
  <td align="right"><b>0</b></td>
</tr>
<tr>
  <td>:stopwatch:&nbsp;Time</td>
  <td align="right"><b>0.00s</b></td>
</tr>
</table>

---

### Test Summary

#### <a name="xcresulttool-exampletests_summary"/>[xcresulttool-exampleTests](#user-content-xcresulttool-exampletests)

- **Device:** iPhone 13 mini, 15.0 (19A339)
- **SDK:** Simulator - iOS 15.0, 15.0
<table>
<tr>
  <th>Test</th>
  <th>Total</th>
  <th><img src="https://xcresulttool-static.netlify.app/i/passed.png" alt="Success" title="Success" width="14px" align="top"></th>
  <th><img src="https://xcresulttool-static.netlify.app/i/failure.png" alt="Failure" title="Failure" width="14px" align="top"></th>
  <th><img src="https://xcresulttool-static.netlify.app/i/skipped.png" alt="Skipped" title="Skipped" width="14px" align="top"></th>
  <th><img src="https://xcresulttool-static.netlify.app/i/expected-failure.png" alt="Expected Failure" title="Expected Failure" width="14px" align="top"></th>
</tr>
<tr>
  <td align="left" width="368px"><a name="xcresulttool-exampletests_system-failures_summary"/><a href="#user-content-xcresulttool-exampletests_system-failures"><img src="https://xcresulttool-static.netlify.app/i/test-class.png" alt="test-class" width="14px" align="top">&nbsp;System Failures</a></td>
  <td align="right" width="80px">1</td>
  <td align="right" width="80px">0</td>
  <td align="right" width="80px">1</td>
  <td align="right" width="80px">0</td>
  <td align="right" width="80px">0</td>
</tr>
</table>

#### <a name="xcresulttool-exampleuitests_summary"/>[xcresulttool-exampleUITests](#user-content-xcresulttool-exampleuitests)

- **Device:** iPhone 13 mini, 15.0 (19A339)
- **SDK:** Simulator - iOS 15.0, 15.0
<table>
<tr>
  <th>Test</th>
  <th>Total</th>
  <th><img src="https://xcresulttool-static.netlify.app/i/passed.png" alt="Success" title="Success" width="14px" align="top"></th>
  <th><img src="https://xcresulttool-static.netlify.app/i/failure.png" alt="Failure" title="Failure" width="14px" align="top"></th>
  <th><img src="https://xcresulttool-static.netlify.app/i/skipped.png" alt="Skipped" title="Skipped" width="14px" align="top"></th>
  <th><img src="https://xcresulttool-static.netlify.app/i/expected-failure.png" alt="Expected Failure" title="Expected Failure" width="14px" align="top"></th>
</tr>
<tr>
  <td align="left" width="368px"><a name="xcresulttool-exampleuitests_system-failures_summary"/><a href="#user-content-xcresulttool-exampleuitests_system-failures"><img src="https://xcresulttool-static.netlify.app/i/test-class.png" alt="test-class" width="14px" align="top">&nbsp;System Failures</a></td>
  <td align="right" width="80px">1</td>
  <td align="right" width="80px">0</td>
  <td align="right" width="80px">1</td>
  <td align="right" width="80px">0</td>
  <td align="right" width="80px">0</td>
</tr>
</table>

---

### Failures
<h4><a name="xcresulttool-exampletests_xcresulttool-example-encountered-an-error_failure-summary"/><a href="#user-content-xcresulttool-exampletests_xcresulttool-example-encountered-an-error">xcresulttool-exampleTests/xcresulttool-example encountered an error</a></h4>
<table><tr><td align="right" width="100px"><b>File</b><td width="668px"><tr><td align="right" width="100px"><b>Issue Type</b><td width="668px">System<tr><td align="right" width="100px"><b>Message</b><td width="668px">Failed to establish communication with the test runner. If you believe this error represents a bug, please attach the result bundle at /Users/runner/work/xcresult. (Underlying Error: The operation couldn’t be completed. (DTXProxyChannel error 1.))</table>

<h4><a name="xcresulttool-exampleuitests_xcresulttool-exampleuitests-runner-encountered-an-error_failure-summary"/><a href="#user-content-xcresulttool-exampleuitests_xcresulttool-exampleuitests-runner-encountered-an-error">xcresulttool-exampleUITests/xcresulttool-exampleUITests-Runner encountered an error</a></h4>
<table><tr><td align="right" width="100px"><b>File</b><td width="668px"><tr><td align="right" width="100px"><b>Issue Type</b><td width="668px">System<tr><td align="right" width="100px"><b>Message</b><td width="668px">Failed to install or launch the test runner. If you believe this error represents a bug, please attach the result bundle at /Users/runner/work/xcresult. (Underlying Error: Invalid device state. (Underlying Error: The operation couldn’t be completed. (Mach error -308 - (ipc/mig) server died)))</table>

### Test Details

#### <a name="xcresulttool-exampletests"/>xcresulttool-exampleTests[<img src="https://xcresulttool-static.netlify.app/i/back.png" alt="back" width="14px" align="top">](#user-content-xcresulttool-exampletests_summary)

<a name="xcresulttool-exampletests_system-failures"/><h5>System Failures&nbsp;[<img src="https://xcresulttool-static.netlify.app/i/back.png" alt="back" width="14px" align="top">](#user-content-xcresulttool-exampletests_system-failures_summary)</h5>
<table>
<tr>
<th><img src="https://xcresulttool-static.netlify.app/i/passed.png" alt="Success" title="Success" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/i/failure.png" alt="Failure" title="Failure" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/i/skipped.png" alt="Skipped" title="Skipped" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/i/expected-failure.png" alt="Expected Failure" title="Expected Failure" width="14px" align="top"><th>:stopwatch:
<tr>
<td align="right" width="154px">0 (0%)<td align="right" width="154px"><b>1 (100%)</b><td align="right" width="154px">0 (0%)<td align="right" width="154px">0 (0%)<td align="right" width="154px">0.00s
</table>

<table>
<tr><td align="center" valign="top" width="52px"><img src="https://xcresulttool-static.netlify.app/i/failure.png" alt="Failure" title="Failure" width="14px" align="top"><td valign="top" width="716px"><a name="xcresulttool-exampletests_xcresulttool-example-encountered-an-error"/><img src="https://xcresulttool-static.netlify.app/i/test-method.png" alt="test-method" width="14px" align="top">&nbsp;<code>xcresulttool-example encountered an error</code><a href="#user-content-xcresulttool-exampletests_xcresulttool-example-encountered-an-error_failure-summary"><img src="https://xcresulttool-static.netlify.app/i/back.png" alt="back" width="14px" align="top"></a>
</table>

#### <a name="xcresulttool-exampleuitests"/>xcresulttool-exampleUITests[<img src="https://xcresulttool-static.netlify.app/i/back.png" alt="back" width="14px" align="top">](#user-content-xcresulttool-exampleuitests_summary)

<a name="xcresulttool-exampleuitests_system-failures"/><h5>System Failures&nbsp;[<img src="https://xcresulttool-static.netlify.app/i/back.png" alt="back" width="14px" align="top">](#user-content-xcresulttool-exampleuitests_system-failures_summary)</h5>
<table>
<tr>
<th><img src="https://xcresulttool-static.netlify.app/i/passed.png" alt="Success" title="Success" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/i/failure.png" alt="Failure" title="Failure" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/i/skipped.png" alt="Skipped" title="Skipped" width="14px" align="top"><th><img src="https://xcresulttool-static.netlify.app/i/expected-failure.png" alt="Expected Failure" title="Expected Failure" width="14px" align="top"><th>:stopwatch:
<tr>
<td align="right" width="154px">0 (0%)<td align="right" width="154px"><b>1 (100%)</b><td align="right" width="154px">0 (0%)<td align="right" width="154px">0 (0%)<td align="right" width="154px">0.00s
</table>

<table>
<tr><td align="center" valign="top" width="52px"><img src="https://xcresulttool-static.netlify.app/i/failure.png" alt="Failure" title="Failure" width="14px" align="top"><td valign="top" width="716px"><a name="xcresulttool-exampleuitests_xcresulttool-exampleuitests-runner-encountered-an-error"/><img src="https://xcresulttool-static.netlify.app/i/test-method.png" alt="test-method" width="14px" align="top">&nbsp;<code>xcresulttool-exampleUITests-Runner encountered an error</code><a href="#user-content-xcresulttool-exampleuitests_xcresulttool-exampleuitests-runner-encountered-an-error_failure-summary"><img src="https://xcresulttool-static.netlify.app/i/back.png" alt="back" width="14px" align="top"></a>
</table>
